:root {
  --thin-line: 0px 1px 1px rgba(181, 181, 181, 0.102);
  --padding-horizontal: 0 20px;
  --default-text-color: black;
}

html {
  height: 100vh;
  overflow: hidden;
  font-family: "FigTree";
  font-size: 110%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--default-text-color);
  text-decoration: none;
}

section {
  width: 100%;
}

/* nav */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: var(--thin-line);
}

main {
  display: flex;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.344);
}

/* navigation menu */
aside {
  white-space: nowrap;
  padding: var(--padding-horizontal);
  padding-top: 20px;
}

aside ul {
  display: grid;
  gap: 1.2rem;
  font-size: 1.2rem;
}

#active {
  text-decoration: underline;
}

/* grid section */
h2 {
  margin-top: 1rem;
}

#post-grid {
  width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  gap: 1rem;
  padding: 30px 20px 10rem 0;
  overflow-y: scroll;
}


/* Card */
.img-container {
  height: 400px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article footer {
  display: flex;
  justify-content: end;
}

/* dialog */
.pico dialog article {
  max-width: 1100px;
  height: 80vh;
}

.pico dialog article>div {
  padding: 0 100px;
}

.pico dialog #close {
  width: 4rem;
  height: 4rem;
  background-size: auto 2rem;
  margin-bottom: 0;
}

button:focus {
  box-shadow: none;
}

hgroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* upload modal */

#upload-modal article {
  width: 100%;
  max-width: 1700px;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

#upload-grid {
  flex-grow: 1;
  display: flex;
  /* grid-template-columns: 240px 1fr; */
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#line {
  display: block;
  height: 600px;
  width: 1px;
  background-color: rgb(88, 88, 88);

}

#qr-placeholder {
  background-color: aquamarine;
  height: 200px;
  width: 200px;
}

#form-wrapper {
  flex-grow: 1;
  overflow: scroll;
}

form {
  padding: 0 5px;
}

#date-fields {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1rem;
}

#date-fields input {
  text-overflow: ellipsis;
}

#date-fields img {
  margin-top: 8px;
}

#datepicker {
  max-width: 40%;
}