/*----------- DEFAULT --------------*/
:root {
  --thin-line: 0px 2px 1px rgba(181, 181, 181, 0.102);
  --padding-horizontal: 0 20px;
  --default-text-color: black;
  --default-red: rgb(155, 0, 0);
  --border-radius: 11px;
  --box-shadow: 0 3px 10px rgba(0, 0, 0, 0.233);
}

html {
  height: 100vh;
  overflow: hidden;
  font-family: "FigTree";
  font-size: 110%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
}

a {
  color: var(--default-text-color);
  text-decoration: none;
}

section {
  width: 100%;
}

/*----------- NAV --------------*/
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: var(--thin-line);
  position: sticky;
}

main {
  display: flex;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.344);
}

#category-name-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 15px;
  padding: 20px 15px 20px 0px;
}

#category-name-menu h2 {
  margin: 0;
}

/*----------- ASIDE MENU --------------*/
aside {
  white-space: nowrap;
  padding: var(--padding-horizontal);
  padding-top: 20px;
}

aside ul {
  display: grid;
  gap: 1.2rem;
  font-size: 1.2rem;
}

#menu-list a {
  background-color: white;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: block;
}

#menu-list a:focus {
  transform: scale(0.95);
}

#menu-list #active {
  background-color: hsl(0, 0%, 20%);
  color: white;
}

/*----------- GRID SECTION --------------*/
#posts-section {
  height: 100%;
  overflow-y: scroll;
}

h2 {
  margin-top: 1rem;
}

#post-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 1rem;
  padding: 0px 20px 10rem 0;
}

@media screen and (max-width: 1550px) {
  #post-grid {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 1230px) {
  #post-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 900px) {
  #post-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

/*----------- CARD --------------*/

#post-grid article:active {
  transform: scale(0.98);
}

.img-container {
  height: 320px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#post-grid article h3 {
  margin-top: 0.5rem;
  width: 100%;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article footer {
  display: flex;
  justify-content: end;
}

/*----------- POST MODALS --------------*/
.post-modal article {
  position: relative;
}

.post-modal button {
  position: sticky;
  top: 5px;
  right: 5px;
  /* Adjust these values as needed */
}

.pico dialog article {
  max-width: 1100px;
  height: 80vh;
}

.pico dialog article>div {
  padding: 0 100px;
}

.text-content {
  height: 6.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 110%;
}

.pico dialog #close {
  width: 4rem;
  height: 4rem;
  background-size: auto 2rem;
  margin-bottom: 0;
}

button:focus {
  box-shadow: none;
}

hgroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#modal-wrapper img {
  width: 400px;
  margin: auto;
  margin-bottom: 1rem;
}

/* ------- DATE CARDS --------- */

.pico ul li {
  list-style: none;
}

.dates-list {
  display: flex;
  gap: 2rem;
}

.date-card {
  background-color: rgb(255, 255, 255);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 130px;
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: 600;
  overflow: hidden;
}

.pico .date-red-bar {
  width: 100%;
  background-color: rgb(166, 0, 0);
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
}

#date-search-form {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

/*----------- UPLOAD MODAL --------------*/
#upload-modal article,
#feedback-modal article {
  width: 100%;
  max-width: 1700px;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

#feedback-modal h3 {
  margin: auto;
}

#checkbox {
  transform: scale(1.5);
  margin: 0 13px;
}

#upload-grid {
  flex-grow: 1;
  display: flex;
  /* grid-template-columns: 240px 1fr; */
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#line {
  display: block;
  height: 600px;
  width: 1px;
  background-color: rgb(88, 88, 88);

}

#qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

#qr-placeholder {
  max-width: 250px;
}

#form-wrapper {
  flex-grow: 1;
  overflow: scroll;
}

form {
  padding: 0 5px;
}

#date-fields {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1rem;
}

#date-fields input {
  text-overflow: ellipsis;
}

#date-fields img {
  margin-top: 8px;
}

#datepicker {
  max-width: 40%;
}

#submit-btn {
  max-width: 10rem;
  float: right;
}

/* DATEPICKER */
.datepicker-controls {
  align-items: center;
}

.datepicker-header .datepicker-controls button:first-of-type,
.datepicker-header .datepicker-controls button:last-of-type {
  font-size: 2rem !important;
}

.datepicker-view {
  width: 25rem;
  height: 20rem;
  font-size: 1.2rem;
}

.datepicker-footer .datepicker-controls .button {
  font-size: 1rem;
}

.datepicker-footer .datepicker-controls {
  padding: 0.8rem;
  display: flex;
  justify-content: right;
  font-size: 1rem;
}

.datepicker-footer .datepicker-controls button {
  width: 100%;
}


#icon-wrapper {
  position: relative;
}

#icon-wrapper img:active {
  scale: 0.9;
}

#info-box {
  display: none;
  position: absolute;
  font-size: 1.1rem;
  padding: 1rem;
  left: 50px;
  top: 5px;
  min-width: 30rem;

  background-color: rgb(244, 244, 244);
  box-shadow: 0 3px 8px rgba(120, 120, 120, 0.255);
  border-radius: 5px;
}

#icon-wrapper p {
  font-size: 1.1rem;
  font-weight: 400;
}

form .validation-error {
  border-color: rgb(255, 140, 140);
  background-color: rgba(255, 186, 186, 0.121);
}

#datepicker-2 {
  opacity: 0;
  width: 0px;
  margin: 0;
  padding: 0;
}